* {
    font-family: serif;
    color: #333;
}

h1 {
    font-size: 1.1em;
    text-align: center;
    margin: 3em;
}
h1 a {
    text-decoration: none;
}
h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55vmax;
    margin: auto;
}

.left, .right {
    width: 40vmax;
    height: 40vmax;
}

canvas {
    width: 100%;
    height: 100%;
}
